*, *:before, *:after {
   -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html, body, div, h1, ul, li, p, img {
	margin:0;
	padding:0;
	line-height: 1;
}
html {
	font-size: 13px;
}
h1, p {
	font-size: 1.2em;
	line-height: 1.2;
	margin-bottom: 0.5em;
}
.carousel {
	position: relative;
}
.js .carousel {
	min-height: 300px;
	width: 80%;
	margin: 0 auto;	
}
.carousel-container {
	width: 100%;
	overflow: hidden;
}
.js .carousel-container {
	min-height: 300px;
	position: relative;
}

.carousel-wrapper {
	list-style-type: none;
}
.js .carousel-wrapper {
	position: absolute;
	left: 0;
	top: 0;
}
.js .carousel-horizontal .carousel-wrapper {
	-webkit-transition: left 1s;
	transition: left 1s;
}
.js .carousel-vertical .carousel-wrapper {
	-webkit-transition: top 1s;
	transition: top 1s;
}

.carousel-item {
	background: #f9f9f9;
	float: left;
	margin-bottom: 1em;
}
.carousel-init .carousel-item {
	visibility: hidden;
}

.carousel .carousel-item__currently-viewing {
	visibility: visible;
}

@media (min-width: 720px) {
	.carousel-item {
		width: 50%;
		padding: 0.5em;
	}
	.carousel-item:nth-child(2n+1) {
		clear: left;
	}
	.js .carousel-item:nth-child(2n+1) {
		clear: none;
	}
}

.js .carousel-vertical {
	max-width: 400px;
	height: 450px;
	padding: 4em 0;
}

.carousel img {
	opacity: 0.05;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

@media (min-width: 720px) {
	.carousel img {
		margin: 0;
	}
}

.carousel-prev,
.carousel-next {
	position: absolute;
	z-index: 2;
	display: block;
	text-decoration: none;
	width: 35px;
	overflow: hidden;
	color: #000;
}
/* horizontal */
.carousel-horizontal .carousel-prev,
.carousel-horizontal .carousel-next {
	height: 52px;
	top: 40%;
}
.carousel-horizontal .carousel-prev {
	left: -45px;
	top: 40%;
}
.carousel-horizontal .carousel-prev:after {
	content: "\25C0";
	font-size: 65px;
	position: absolute;
	top: -7px;
	left: 0;
}
.carousel-horizontal .carousel-next {
	right: -45px;
	top: 40%;
}
.carousel-horizontal .carousel-next:after {
	content: "\25B6";
	font-size: 65px;
	position: absolute;
	top: -7px;
	right: 0;
}
/* vertical */
.carousel-vertical .carousel-prev,
.carousel-vertical .carousel-next {
	height: 35px;
	left: 47%;
}
.carousel-vertical .carousel-prev {
	top: 0;
}
.carousel-vertical .carousel-prev:after {
	content: "\25B2";
	font-size: 65px;
	position: absolute;
	top: 0;
	left: -15px;
}
.carousel-vertical .carousel-next {
	bottom: 0;
}
.carousel-vertical .carousel-next:after {
	content: "\25BC";
	font-size: 65px;
	position: absolute;
	bottom: 0;
	right: -15px;
}
.carousel-button__disabled {
	opacity: 0.3;
	cursor: default;
}
